Flask==2.0.2
flask_login==0.5.0
flask_sqlalchemy==2.5.1
flask_wtf==1.0.0
matplotlib==3.5.1
numpy==1.22.2
pandas==1.4.0
Pillow==9.0.1
scikit_learn==1.0.2
SQLAlchemy==1.4.31
Werkzeug==2.0.2
gunicorn